@using Contoso.Retail.Ecommerce.Sdk.Controls
@using Contoso.Retail.Ecommerce.Web.Storefront.Models;

@{
    ViewBag.Title = @ResourceHelper.GetLocalString("WishListDetailsViewTitle");
}

@section other {
    @MvcHelperExtension.GetWishListDetailsControlHeader()
}

<div class="msax-PageTitle">
    <h1>@ResourceHelper.GetLocalString("WishListDetails")</h1> <!-- Wish list details -->
    <a class="msax-Link msax-PaddingBottom20 msax-PaddingRight20 msax-Button msax-MyAccountLink" href="/MyAccount">
        <span class="msax-ButtonText">@ResourceHelper.GetLocalString("ReturnToMyAccount")</span> <!-- Return to my account -->
    </a>
</div>

<br />
@MvcHelperExtension.GetWishListDetailsControl()
